<mat-toolbar class="header mat-elevation-z4">
    <span>
      <a routerLink="/">
        <img class="logo" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/55eb7f6d-7659-40cf-889a-4f815edc74ce/dfa9sy5-205439f7-70eb-473e-9242-692492b5baff.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU1ZWI3ZjZkLTc2NTktNDBjZi04ODlhLTRmODE1ZWRjNzRjZVwvZGZhOXN5NS0yMDU0MzlmNy03MGViLTQ3M2UtOTI0Mi02OTI0OTJiNWJhZmYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.P54Frhrr-xq1GCzoPsBIeVTZ6JR4lgV3IWiTVOdXn3M" alt="">
      </a>
    </span>
    <span class="title-group">
      <a>
        <i class="material-icons">
          home
        </i>
        aplicação CRUD
      </a>
    </span>
</mat-toolbar>
